.Intervalo input {
  font-size: 1.8rem;
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  padding-left: 10px;
  border-radius: 7px;
  border: none;
}

.Operation strong {
  margin-left: 10px;
} 

@media(max-width: 630px) {
  .Intervalo {
    display: flex;
    flex-direction: column;
  }
}