@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

body {
  background-color: #222;
  font-size: 2rem;
  font-family: 'Oswald';
  color: #fff;
  margin: 30px;
}